body {
    background-image: url("imgt2.png");
    background-repeat: repeat;
    text-align: center;
    color: black
     }
head
{
    text-align: center;
    color: rgb(255, 255, 255);
}
title 
{
   
    text-align: center;
    color: rgb(10, 10, 10);
}

p {
    text-align:center;
    font-weight: bolder;
    font-size:large;
    color:rgb(15, 15, 15)
}

p {
   text-align: center;
   color: black;
   font-family: bold
   }
   
h1,h2,h3,h4,h5,h6
   {
    text-align: center;
    font-weight: bolder;
    color: blueviolet
  
     }
     h2
   {
    text-align: right;
    font-weight: bolder;
     color: blueviolet
  
    }
     li,ul
   {
    text-align: right;
    font-size:large;
    color: rgb(12, 12, 12)
     }
     
     table 
     {
       
        border: rgb(19, 2, 2);
        border-spacing: 10px 0px;
        text-align: center;
        font-weight: bolder;
  
    }

